Q1.
for doing a comment we will use hash(#) sine.
    There are two types of comments (i) #short type comment 
    (ii) '''long type of comment'''

Q2.
A Python variable is a symbolic name that is a reference or pointer to an object.
For assign values to variables , we wil use of = this sine , for example a = 32,54,4,

Q3.
For convert one data type to another data type we will use int(), float(), str() to directly convert one data type into another.

Q4.
The most basic and easy way to run a Python script is by using the python command. we need to open a command line and type the word python followed by the path to your script file like this: python first_script.py Hello World! Then you hit the ENTER button from the keyboard, and that's it.

In [4]:
#Q5.
my_list =[1,2,3,4,5]
#we would use this sine my_list[1:3] for obtain the sub list [2,3]

In [8]:
my_list[1:3]

[2, 3]

 Q6.
 In mathematics the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called â€œiota" 
 This is represented in python like 344=543j

Q7.
 The correct way to declare a variable named age and assign the value 25 to it is dictionary loop {}.

In [12]:
#Q8.
a = {'name' : 'devashish yadav' , 'price' : 9.99}
'''this data type of the variable is dict'''

'this data type of the variable is dict'

In [11]:
type(a)

dict

In [13]:
#Q9.
d = "devashish yadav"

In [16]:
print(d.count)

<built-in method count of str object at 0x7fca64f06970>

In [40]:
#Q10.
a = "Hello,World!"

In [39]:
a[6:11]

'World'

In [45]:
#Q10.
a = 'is_student'

In [43]:
a=True

In [44]:
a

True